
.block {
  position: relative;
  margin-bottom: $folder-bot-margin;
  padding-left: $block-padding-left;  
  padding-right: $block-padding-right;
  padding-top: $block-padding;
  padding-bottom: $block-padding;
}

.react, .redux {
  display: inline-block;
  width: 510px;
  margin-top: $navbar-height;
  vertical-align: top;
  padding: 0 $column-side-padding;
}
.react {
  margin-left: $column-side-padding;
}

.group {
  margin-bottom: $group-bot-margin 0;
}
.code, .library, .file {
  height: $line;
}

.h1 {
  height: $h1-height;
  margin-bottom: $group-bot-margin;  
}

.folder-header {
  height: $folder-header;
  margin-bottom: $folder-bot-margin;    
}

$index-import-lines: $line * 5;
$index-import-ht: $index-import-lines + $group-OH;
.indeximport          { height: $index-import-ht; };

$index-code-lines: $line * 7;
$index-code-ht: $index-code-lines + $group-OH;
.indexCode         { height: $index-code-ht; };

.index { 
  height: 
    $index-import-ht +
    $index-code-ht +
    $folder-OH;
};

$component1-import-lines: $line * 9;
$component1-import-ht: $component1-import-lines + $group-OH;
.component1import          { height: $component1-import-lines };

$component1-line1-lines: $line * 1;
$component1-line1-ht: $component1-line1-lines + $group-OH;
.component1line1           { height: $component1-line1-lines; }; 

$component1-constructor-lines: $line * 4;
$component1-constructor-ht: $component1-constructor-lines + $group-OH;
.component1constructor     { height: $component1-constructor-lines; };

$component1-method-lines: $line * 8;
$component1-method-ht: $component1-method-lines + $group-OH;
.component1method   { height: $component1-method-lines; position: relative; };

.component1methodDispatch, .component1methodSimple, .component1methodCallback  { 
  position: absolute;
  top: 0;
  left: 0;
}

$component1-return-lines: $line * 15;
$component1-return-ht: $component1-return-lines + $group-OH;
.component1return          { height: $component1-return-lines; };

$component1-mapState-lines: $line * 3;
$component1-mapState-ht: $component1-mapState-lines + $group-OH;
.component1mapState        { height: $component1-mapState-lines; };

$component1-connect-lines: $line * 4;
$component1-connect-ht: $component1-connect-lines + $group-OH;
.component1connect         { height: $component1-connect-lines; position: relative;};

.component1connectSimple, .component1connectCompose  { 
  position: absolute;
  top: 0;
  left: 0;
}
.component1 { 
  height: 
    $component1-import-ht +
    $component1-line1-ht +
    $component1-constructor-ht +
    $component1-method-ht +
    $component1-return-ht +
    $component1-mapState-ht +
    $component1-connect-ht +
    $folder-OH;
};

$component2-import-lines: $line * 6;
$component2-import-ht: $component2-import-lines + $group-OH;
.component2import          { height: $component2-import-lines; };

$component2-line1-lines: $line * 1;
$component2-line1-ht: $component2-line1-lines + $group-OH;
.component2line1           { height: $component2-line1-lines; }; 

$component2-return-lines: $line * 8;
$component2-return-ht: $component2-return-lines + $group-OH;
.component2return          { height: $component2-return-lines; };

$component2-connect-lines: $line * 3;
$component2-connect-ht: $component2-connect-lines + $group-OH;
.component2connect         { height: $component2-connect-lines; };

.component2 { height: 
  $component2-import-ht +
  $component2-line1-ht +
  $component2-return-ht +
  $component2-connect-ht +
  $folder-OH;
};

$store-import-lines: $line * 4;
$store-import-ht: $store-import-lines + $group-OH;
.storeImport          { height: $store-import-lines; };

$store-code-lines: $line * 1;
$store-code-ht: $store-code-lines + $group-OH;
.storeCode            { height: $store-code-lines; };

.store { 
  height: 
    $store-import-ht +
    $store-code-ht +
    $folder-OH;
};

$reducer-import-lines: $line * 2;
$reducer-import-ht: $reducer-import-lines + $group-OH;
.reducerImport          { height: $reducer-import-lines; };

$reducer-initialState-lines: $line * 3;
$reducer-initialState-ht: $reducer-initialState-lines + $group-OH;
.reducerInitialState          { height: $reducer-initialState-lines; };
      
$reducer-switch-lines: $line * 9;
$reducer-switch-ht: $reducer-switch-lines + $group-OH;
.reducerSwitch          { height: $reducer-switch-lines; };

$reducer-if-lines: $line * 9;
$reducer-if-ht: $reducer-if-lines + $group-OH;
.reducerSingleIf          { height: $reducer-if-lines; };

$reducer-combine-lines: $line * 4;
$reducer-combine-ht: $reducer-combine-lines + $group-OH;
.reducerCombine          { height: $reducer-combine-lines; };

.reducer { 
  height: 
    $reducer-import-ht +
    $reducer-initialState-ht +
    $reducer-switch-ht +
    $reducer-if-ht +
    $reducer-combine-ht +
    $folder-OH;
};

$actions-code-lines: $line * 5;
$actions-code-ht: $actions-code-lines + $group-OH;
.actionsCode          { height: $actions-code-lines; };

$actions-submit-lines: $line * 5;
$actions-submit-ht: $actions-submit-lines + $group-OH;
.actionsSubmit          { height: $actions-submit-lines; };

$actions-async-lines: $line * 6;
$actions-async-ht: $actions-async-lines + $group-OH;
.actionsAsync          { height: $actions-async-lines; };

.actions { height: 
  $actions-code-ht +
  $actions-submit-ht +  
  $actions-async-ht +
  $folder-OH;
};