//https://color.hailpixel.com/#030708,131939,211D58,1B4750,24626B,2A767E,329577,349D8F,66CCC9,5BC8B8,3DB1B8,3DB1B8

.arr-1 { color: red;       border-color: red; }
.arr0  { color: transparent; border-color: transparent; background-color: transparent;}
.arr1  { color: #000000;   border-color: #000000; }
.arr2  { color: #2a767e;   border-color: #2a767e }
.arr3  { color: #2a767e;   border-color: #2a767e }
.arr4  { color: #2a767e;   border-color: #2a767e }
.arr5  { color: #2a767e;   border-color: #2a767e }
.arr6  { color: #2a767e;   border-color: #2a767e }
.arr7  { color: #2a767e;   border-color: #2a767e }
.arr8  { color: #2a767e;   border-color: #2a767e }
.arr9  { color: #2a767e;   border-color: #2a767e }

.arrundefined {
  border-color: rgb(238, 255, 0);
}
