$unavailable: #ccc;
$library: blue;
$code: green;
$file: maroon;
$indent: 10px;
$background: white;

* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;  
  font-size: 13px;
  box-sizing: border-box;  
  white-space: nowrap;
}

$navbar-height: 30px;

.navbar {
  position: fixed;
  width: 100%;
  padding: 10px;
  height: $navbar-height;
  background-color: $background;
}

form {
  input {
    // display: inline-block;
    float: left;
  };
  label {
    float: left;
  }
}

$column-side-padding: 1.5em;

.react, .redux {
  display: inline-block;
  width: 510px;
  margin-top: $navbar-height;
  vertical-align: top;
  padding: 0 $column-side-padding;
}
.react {
  margin-left: $column-side-padding;
}

.library { color: $library; }
.code    { color: $code;    }
.file    { color: $file;    }
.clear   { color: white;  }

.hidden, .comment {
  display: none;
}

.example {
  // font-family: 'Nova Mono', monospace;  
  text-decoration: underline;
  // font-style: italic;
  font-size: 12px;
}

h1, h2, h3 {
  clear: left;
}

h2, h3 { font-size: 15px; }
h1     { font-size: 17px; }

.in1 { margin-left: $indent * 1;}
.in2 { margin-left: $indent * 2;}
.in3 { margin-left: $indent * 3;}
.in4 { margin-left: $indent * 4;}
.in5 { margin-left: $indent * 5;}
.in6 { margin-left: $indent * 6;}

.strikethru {
  text-decoration: line-through;
  color: $unavailable;
}

// @@@@@@@@@@@@ OVERALL DIMENSIONS @@@@@@@@@@@@@@

$block-padding-left: 50px;
$block-padding-right: 25px;
$block-padding: 10px;

$h1-height: 22px;

$folder-header: 18px;
$folder-top-bot-padding: 12px;
$folder-left-right-padding: 15px;
$folder-bot-margin: 12px;
$folder-OH: $folder-header + (2 * $folder-bot-margin) ;
$folder-width: 500px;

$group-header: 0px;
$group-bot-margin: 8px;
$group-OH: $group-header + $group-bot-margin;

$folder-header-loaded: $folder-header + $group-bot-margin;
$line: 14px;
$half-line: 10px; // 3 extra for typography sake

.code, .library, .file {
  height: $line;
}
.group {
  margin-bottom: $group-bot-margin 0;
}

.h1 {
  height: $h1-height;
  margin-bottom: $group-bot-margin;  
}

.folder-header {
  height: $folder-header;
  margin-bottom: $folder-bot-margin;    
}

$index-import-lines: $line * 5;
$index-import-ht: $index-import-lines + $group-OH;
.indeximport          { height: $index-import-ht; };

$index-code-lines: $line * 7;
$index-code-ht: $index-code-lines + $group-OH;
.indexCode         { height: $index-code-ht; };

.index { 
  height: 
    $index-import-ht +
    $index-code-ht +
    $folder-OH;
};

$component1-import-lines: $line * 9;
$component1-import-ht: $component1-import-lines + $group-OH;
.component1import          { height: $component1-import-lines };

$component1-line1-lines: $line * 1;
$component1-line1-ht: $component1-line1-lines + $group-OH;
.component1line1           { height: $component1-line1-lines; }; 

$component1-constructor-lines: $line * 4;
$component1-constructor-ht: $component1-constructor-lines + $group-OH;
.component1constructor     { height: $component1-constructor-lines; };

$component1-method-lines: $line * 8;
$component1-method-ht: $component1-method-lines + $group-OH;
.component1method   { height: $component1-method-lines; position: relative; };

.component1methodDispatch, .component1methodSimple, .component1methodCallback  { 
  position: absolute;
  top: 0;
  left: 0;
}

$component1-return-lines: $line * 15;
$component1-return-ht: $component1-return-lines + $group-OH;
.component1return          { height: $component1-return-lines; };

$component1-mapState-lines: $line * 3;
$component1-mapState-ht: $component1-mapState-lines + $group-OH;
.component1mapState        { height: $component1-mapState-lines; };

$component1-connect-lines: $line * 4;
$component1-connect-ht: $component1-connect-lines + $group-OH;
.component1connect         { height: $component1-connect-lines; position: relative;};

.component1connectSimple, .component1connectCompose  { 
  position: absolute;
  top: 0;
  left: 0;
}
.component1 { 
  height: 
    $component1-import-ht +
    $component1-line1-ht +
    $component1-constructor-ht +
    $component1-method-ht +
    $component1-return-ht +
    $component1-mapState-ht +
    $component1-connect-ht +
    $folder-OH;
};

$component2-import-lines: $line * 6;
$component2-import-ht: $component2-import-lines + $group-OH;
.component2import          { height: $component2-import-lines; };

$component2-line1-lines: $line * 1;
$component2-line1-ht: $component2-line1-lines + $group-OH;
.component2line1           { height: $component2-line1-lines; }; 

$component2-return-lines: $line * 8;
$component2-return-ht: $component2-return-lines + $group-OH;
.component2return          { height: $component2-return-lines; };

$component2-connect-lines: $line * 3;
$component2-connect-ht: $component2-connect-lines + $group-OH;
.component2connect         { height: $component2-connect-lines; };

.component2 { height: 
  $component2-import-ht +
  $component2-line1-ht +
  $component2-return-ht +
  $component2-connect-ht +
  $folder-OH;
};

$store-import-lines: $line * 4;
$store-import-ht: $store-import-lines + $group-OH;
.storeImport          { height: $store-import-lines; };

$store-code-lines: $line * 1;
$store-code-ht: $store-code-lines + $group-OH;
.storeCode            { height: $store-code-lines; };

.store { 
  height: 
    $store-import-ht +
    $store-code-ht +
    $folder-OH;
};

$reducer-import-lines: $line * 2;
$reducer-import-ht: $reducer-import-lines + $group-OH;
.reducerImport          { height: $reducer-import-lines; };

$reducer-initialState-lines: $line * 3;
$reducer-initialState-ht: $reducer-initialState-lines + $group-OH;
.reducerInitialState          { height: $reducer-initialState-lines; };
      
$reducer-switch-lines: $line * 9;
$reducer-switch-ht: $reducer-switch-lines + $group-OH;
.reducerSwitch          { height: $reducer-switch-lines; };

$reducer-if-lines: $line * 9;
$reducer-if-ht: $reducer-if-lines + $group-OH;
.reducerSingleIf          { height: $reducer-if-lines; };

$reducer-combine-lines: $line * 4;
$reducer-combine-ht: $reducer-combine-lines + $group-OH;
.reducerCombine          { height: $reducer-combine-lines; };

.reducer { 
  height: 
    $reducer-import-ht +
    $reducer-initialState-ht +
    $reducer-switch-ht +
    $reducer-if-ht +
    $reducer-combine-ht +
    $folder-OH;
};

$actions-code-lines: $line * 5;
$actions-code-ht: $actions-code-lines + $group-OH;
.actionsCode          { height: $actions-code-lines; };

$actions-submit-lines: $line * 5;
$actions-submit-ht: $actions-submit-lines + $group-OH;
.actionsSubmit          { height: $actions-submit-lines; };

$actions-async-lines: $line * 6;
$actions-async-ht: $actions-async-lines + $group-OH;
.actionsAsync          { height: $actions-async-lines; };

.actions { height: 
  $actions-code-ht +
  $actions-submit-ht +  
  $actions-async-ht +
  $folder-OH;
};

// @@@@@@@@@@@@@@@@@@@@@

// first letter [r,e] = [react, redux]
// second letter i index, 1 compon1,
//       2 compon2, s store, r reducer,
//       a actions
// third part = descriptor
// last part = Left, Right, Top, Bottom
.block {
  position: relative;
  background-color: #ccc;
  margin-bottom: $folder-bot-margin;
  padding-left: $block-padding-left;  
  padding-right: $block-padding-right;
  padding-top: $block-padding;
  padding-bottom: $block-padding;
}

.flowContainer {
  position: absolute;
  top: $block-padding;
  left: $block-padding-left;
  z-index: 999;
}
$flowLine: rgb(236, 222, 236);
$flowW: 0.2em;
$flowStyle: solid;
$arrowW: .6em;
$arrowOff: $arrowW + ($flowW/2);

.flow {
  border: $flowW $flowStyle $flowLine;
  position: absolute;
}

.tail {
  position: absolute;
  height: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: $flowW $flowStyle;
  border-color: inherit;
}

.arrow-L {
  position: absolute;
  border: $arrowW solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: inherit;
  border-bottom-color: transparent;
  height: $arrowW; 
  width: $arrowW;
}
.arrow-R {
  position: absolute;
  border: $arrowW solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: inherit;
  border-bottom-color: transparent;
  height: $arrowW; 
  width: $arrowW;
}
.arrow-U {
  position: absolute;
  border: $arrowW solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: inherit;
  border-right-color: transparent;
  height: $arrowW; 
  width: $arrowW;
}
.arrow-D {
  position: absolute;
  border: $arrowW solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: inherit;
  border-bottom-color: transparent;
  height: $arrowW; 
  width: $arrowW;
}
// @@@@@@@@@@@@ REACT INDEX FILE @@@@@@@@@@@@@@@

.r-i-store-L {
  top: $folder-header-loaded + ($line * 2) + $half-line;
  height: (3.6 * $line) + $group-bot-margin;
  left: -2em;
  width: 2em;
  border-right: none;
  .arrow-L {
    left: 20%;
    top: -$arrowOff;
  }
}
.r-i-store-R {
  top: $folder-header-loaded + ($line * 2) + $half-line;
  height: (4.6 * $line) + $group-bot-margin;
  left: 0;
  width: $indent;
  border-top: none;
  border-right: none;
  border-left: none;
}
.r-i-provider {
  top: $folder-header-loaded + ($line * 4) + $half-line;
  height: (1.6 * $line) + $group-bot-margin;
  left: -1em;
  width: 1em;
  border-bottom: none;
  border-right: none;
}
.r-i-compon1-L {
  top: $folder-header-loaded + ($line * 1) + $half-line;
  height: (5.6 * $line) + $group-bot-margin;
  left: -3em;
  width: 3em;
  border-right: none; 
  .arrow-R {
    right: 0;
    bottom: -$arrowOff;
  }
}
.r-i-compon1-R {
  top: $folder-header-loaded + ($line * 1) + $half-line;
  height: (5.6 * $line) + $group-bot-margin;
  left: 0;
  width: ($indent * 2);
  border-top: none;
  border-right: none;
  border-left: none;
}
.r-i-react-dom-L {
  top: $folder-header-loaded + ($line * 3) + $half-line;
  height: (1.6 * $line) + $group-bot-margin;
  left: 8em;
  width: 9em;
  border-top: none;
  border-right: none;
  border-left: none;
  .arrow-L {
    left: 50%;
    bottom: -$arrowOff;
  }
}
.r-i-react-dom-R {
  top: $folder-header-loaded + ($line * 3) + $half-line;
  height: (1.6 * $line) + $group-bot-margin;
  left: 17em;
  width: 3em;
  border-left: none;
}
// @@@@@@@@@@@@ REDUX INDEX EXPORTS @@@@@@@@@@@@@@@


.r-i-export-html {
  height: (0 * $line);
  left: 17em;
  top: $folder-header-loaded + ($line * 9.7);
  width: 4em;
  border-top: none;
  border-right: none;
  border-left: none;
  .arrow-R {
    left: 100%;
    bottom: -$arrowOff;
  }
}
.r-i-export-provider {
  height: (10 * $line);
  left: 17em;
  top: $folder-header-loaded + ($line * 6.7);
  width: 12em;
  border-left: none;
  border-bottom: none;
  .arrow-D {
    top: 100%;
    right: -$arrowOff;
  }
}
// @@@@@@@@@@@@ REACT COMPONENT 1 FILE @@@@@@@@@@@@@@@

.r-1-connect-L {
  top: $folder-header-loaded + ($line * 2) + $half-line;
  height: (38.6 * $line) + $group-bot-margin;
  left: -3em;
  width: 3em;
  border-right: none;
  .arrow-D {
    top: 50%;
    left: -$arrowOff;
  }
}
.r-1-connect-R {
  top: $folder-header-loaded + ($line * 2) + $half-line;
  height: (38.6 * $line) + $group-bot-margin;
  left: 0;
  width: 1em;
  border-top: none;
  border-right: none;
  border-left: none;
}
.r-1-compose {
  top: $folder-header-loaded + ($line * 3) + $half-line;
  height: (36.6 * $line) + $group-bot-margin;
  left: -2em;
  width: 2em;
  border-right: none;
  .arrow-D {
    top: 55%;
    left: -$arrowOff;
  }
}
.r-1-link-L {
  top: $folder-header-loaded + ($line * 7) + $half-line;
  height: (20.6 * $line) + $group-bot-margin;
  left: -1em;
  width: 1em;
  border-right: none;
  .arrow-D {
    top: 50%;
    left: -$arrowOff;
  }
}
.r-1-link-R {
  top: $folder-header-loaded + ($line * 7) + $half-line;
  height: (20.6 * $line) + $group-bot-margin;
  left: 0em;
  width: ($indent * 4.8);
  border-top: none;
  border-right: none;
  border-left: none;
}

.r-1-form {
  top: $folder-header-loaded + ($line * 4) + $half-line;
  height: (37.6 * $line) + $group-bot-margin;
  left: 23.5em;
  width: 8em;
  border-bottom: none;
  border-left: none;
  .arrow-D1 {
    top: 40%;
    right: -$arrowOff;
  }
  .arrow-D2 {
    top: 85%;
    right: -$arrowOff;
  }
  .tail1 {
    bottom: (10 * $line);
    right: 0;
    width: 3em;
  }
  .tail2 {
    bottom: 0;
    right: 0;
    width: 12em;
  }
}
.r-1-route {
  top: $folder-header-loaded + ($line * 5) + $half-line;
  height: (21.6 * $line) + $group-bot-margin;
  left: 21em;
  width: 9em;
  border-bottom: none;
  border-left: none;
  .arrow-D {
    top: 50%;
    right: -$arrowOff;
  }
  .tail {
    bottom: 0;
    right: 0;
    width: 1em;
  }
}

.r-1-router {
  top: $folder-header-loaded + ($line * 6) + $half-line;
  height: (17.6 * $line) + $group-bot-margin;
  left: 24.5em;
  width: 4em;
  border-bottom: none;
  border-left: none;
  .arrow-D {
    top: 50%;
    right: -$arrowOff;
  }
  .tail {
    bottom: 0;
    right: 0;
    width: 18em;
  }
}
// @@@@@@@@@@@@ REDUX COMPONENT 1 EXPORTS @@@@@@@@@@@@@@@

.r-1-export-one {
  height: (24.8 * $line) + $folder-header-loaded + $block-padding;
  right: 0;
  top: -($folder-header-loaded + ($line * 13.8));
  width: 6em;
  border-right: none;
  .arrow-U1 {
    top: 175px;
    left: -$arrowOff;
  }
}
.r-1-export-two {
  height: (1.6 * $line) ;
  left: 100%;
  top: -($folder-header-loaded + ($line * 13.8));
  width: 16em;
  border-bottom: none;
  border-left: none;
  .arrow-R {
    left: 30%;
    top: -$arrowOff;
  }
}
.r-1-export-oneConnect {
  height: (1.5 * $line);
  left: 0;
  bottom: -(44.6 * $line);
  width: 16em;
  border-top: none;
  border-left: none;
  .arrow-L {
    left: 30%;
    bottom: -$arrowOff;
  }
}
.r-1-export-oneCompose {
  height: (1.5 * $line);
  left: 0;
  bottom: -(47.5 * $line);
  width: 5em;
  border-left: none;
  border-top: none;
  .arrow-L {
    left: 30%;
    bottom: -$arrowOff;
  }
}
.r-1-export-twoConnect, .r-1-export-twoCompose {
  right: 0;
  top: -($folder-header-loaded + ($line * 13.8));
  width: 6em;
  border-right: none;
  .arrow-U1 {
    top: 175px;
    left: -$arrowOff;
  }
  .arrow-U2 {
    top: 500px;
    left: -$arrowOff;
  }
}

.r-1-export-twoConnect {
  height: (57.65 * $line) + $folder-header-loaded + $block-padding;
}

.r-1-export-twoCompose {
  height: (60.6 * $line) + $folder-header-loaded + $block-padding;
}
.r-1-export-threeConnect, .r-1-export-threeCompose {
  height: (1.6 * $line) ;
  left: 100%;
  top: -($folder-header-loaded + ($line * 13.8));
  width: 16em;
  border-bottom: none;
  border-left: none;
  .arrow-R {
    left: 30%;
    top: -$arrowOff;
  }
}

// @@@@@@@@@@@@ REACT COMPONENT 2 FILE @@@@@@@@@@@@@@@

.r-2-connect {
  top: $folder-header-loaded + ($line * 2) + $half-line;
  height: (12.6 * $line) + $group-bot-margin;
  left: -3em;
  width: 3em;
  border-right: none;
  .arrow-D {
    top: 50%;
    left: -$arrowOff;
  }
}
.r-2-link-L {
  top: $folder-header-loaded + ($line * 5) + $half-line;
  height: (5.6 * $line) + $group-bot-margin;
  left: -1.5em;
  width: 1.5em;
  border-right: none;
  .arrow-D {
    top: 50%;
    left: -$arrowOff;
  }
}
.r-2-link-R {
  top: $folder-header-loaded + ($line * 5) + $half-line;
  height: (5.6 * $line) + $group-bot-margin;
  left: 0em;
  width: ($indent * 4.8);
  border-top: none;
  border-right: none;
  border-left: none;
}
.r-2-route {
  top: $folder-header-loaded + ($line * 4) + $half-line;
  height: (5.6 * $line) + $group-bot-margin;
  left: 21em;
  width: 9em;
  border-bottom: none;
  border-left: none;
  .arrow-D {
    top: 50%;
    right: -$arrowOff;
  }
  .tail {
    bottom: 0;
    right: 0;
    width: 4em;
  }
}

// @@@@@@@@@@@@ REDUX COMPONENT 2 EXPORTS @@@@@@@@@@@@@@@

.r-2-export {
  height: (47.6 * $line) + $folder-header-loaded + $block-padding;
  right: 0;
  bottom: -(7 * $line) -$folder-header-loaded;
  width: 5em;
  border-right: none;
  .arrow-U {
    top: 30%;
    left: -$arrowOff;
  }
}
.r-2-export-connect-L {
  height: (58.6 * $line) + $folder-header-loaded + $block-padding;
  right: 0;
  bottom: -$folder-header-loaded -(18 * $line);
  width: 5em;
  border-right: none;
  .arrow-U {
    top: 30%;
    left: -$arrowOff;
  }
}
.r-2-export-connect-R {
  height: (1.5 * $line);
  left: 0;
  bottom: -$folder-header-loaded -(18 * $line);
  width: 16em;
  border-top: none;
  border-left: none;
  .arrow-L {
    left: 30%;
    bottom: -$arrowOff;
  }
}

// @@@@@@@@@@@@ REACT STORE FILE @@@@@@@@@@@@@@@

.e-s-reducer-T {
  top: $folder-header-loaded + ($line * 0) + $half-line;
  height: (3.6 * $line) + $group-bot-margin;
  left: 18em;
  width: 3em;
  border-bottom: none;
  border-left: none;
  .arrow-R {
    left: 50%;
    top: -$arrowOff;
  }
}
.e-s-reducer-B {
  top: $folder-header-loaded + ($line * 0) + $half-line;
  height: (3.6 * $line) + $group-bot-margin;
  left: 18em;
  width: 3em;
  border-top: none;
  border-right: none;
  border-left: none;
  .arrow-L {
    left: 50%;
    bottom: -$arrowOff;
  }
}
.e-s-create {
  top: $folder-header-loaded + ($line * 1) + $half-line;
  height: (2.6 * $line) + $group-bot-margin;
  left: -2em;
  width: 1.9em;
  border-right: none;
  .arrow-R {
    right: 5%;
    bottom: -$arrowOff;
  }
}
.e-s-thunk{
  top: $folder-header-loaded + ($line * 2) + $half-line;
  height: (1 * $line);
  left: -2em;
  width: 1.9em;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.e-s-middleware{
  top: $folder-header-loaded + ($line * 2) + $half-line;
  height: (1 * $line);
  left: -2em;
  width: 1.9em;
  border-left: none;
  border-right: none;
  border-top: none;
}

// @@@@@@@@@@@@ REDUX STORE EXPORTS @@@@@@@@@@@@@@@
 
.e-s-export-one {
  height: (1 * $line);
  top: $folder-header-loaded + (5* $line);
  left: 15em;
  width: 10em;
  border-top: none;
}
.e-s-export-two {
  height: (5.5 * $line);
  right: -25em;
  bottom: -$folder-header-loaded - (5* $line);
  width: 40em;
  border-bottom: none;
  border-left: none;
  .arrow-U {
    top: 30%;
    right: -$arrowOff;
  }
}
.e-s-export-three {
  height: (3.5 * $line);
  right: 15em;
  top: (1.35*$line);
  width: 10em;
  border-top: none;
  border-left: none;
  .arrow-L {
    left: 50%;
    bottom: -$arrowOff;
  }
}

// @@@@@@@@@@@@ REDUX REDUCER FILE @@@@@@@@@@@@@@@
.e-r-combine {
  top: $folder-header-loaded + ($line * 0) + $half-line;
  height: (23.2 * $line);
  left: 20em;
  width: 10em;
  border-bottom: none;
  border-left: none;
  .arrow-D {
    top: 50%;
    right: -$arrowOff;
  }
  .tail {
    bottom: 0;
    right: 0;
    width: 11.5em;
  }
}

.e-r-named1 {
  top: $folder-header-loaded + ($line * 5) + $half-line;
  height: (20.2 * $line);
  left: 17em;
  width: 11em;
  border-bottom: none;
  border-left: none;
  .arrow-D {
    top: 30%;
    right: -$arrowOff;
  }
  .tail {
    bottom: 0;
    right: 0;
    width: 21em;
  }
}
.e-r-named2 {
  top: $folder-header-loaded + ($line * 14) + $half-line;
  height: (10.2 * $line);
  left: 14em;
  width: 12.5em;
  border-bottom: none;
  border-left: none;
  .arrow-D {
    top: 30%;
    right: -$arrowOff;
  }
  .tail {
    bottom: 0;
    right: 0;
    width: 20em;
  }
}
// @@@@@@@@@@@@ REDUX REDUCER EXPORTS @@@@@@@@@@@@@@@

.e-r-export-store {
  height: (14.6 * $line) + $group-bot-margin;
  right: 0;
  bottom: -$folder-header-loaded - (6*$line);
  width: 6em;
  border-right: none;
  .arrow-L {
    left: 30%;
    bottom: -$arrowOff;
  }
  .arrow-R {
    left: 30%;
    top: -$arrowOff;
  }
}
.e-r-export-storeCombine {
  height: (14.6 * $line) + (18 * $line) + $group-bot-margin;
  right: 0;
  bottom: -$folder-header-loaded - (24*$line);
  width: 6em;
  border-right: none;
  .arrow-L {
    left: 30%;
    bottom: -$arrowOff;
  }
  .arrow-R {
    left: 30%;
    top: -$arrowOff;
  }
}
// @@@@@@@@@@@@ REDUX ACTIONS FILE @@@@@@@@@@@@@@@
.e-a-dispatch {
  top: $folder-header-loaded + ($line * 1) + $half-line;
  height: (12.6 * $line) + $group-bot-margin;
  left: 19em;
  width: 10em;
  border-bottom: none;
  border-left: none;
  .arrow-D {
    top: 30%;
    right: -$arrowOff;
  }
  .tail1 {
    bottom: 0;
    right: 0;
    width: 3em;
  }
  .tail2 {
    bottom: ($line * 1);
    right: 0;
    width: 3.5em;
  }
  .tail3 {
    bottom: ($line * 3);
    right: 0;
    width: 14em;
  }
}

// @@@@@@@@@@@@ REDUX ACTIONS EXPORT @@@@@@@@@@@@@@@

.e-a-export {
  height: (9.2 * $line);
  top: $folder-header-loaded + (1.8*$line);
  right: 0;
  width: 4.5em;
  border-left: none;
  border-right: none;
  border-bottom: none;
  .arrow-L {
    left: 30%;
    top: -$arrowOff;
  }
}
.e-a-export-async {
  height: (9.2 * $line);
  top: $folder-header-loaded + (1.8*$line);
  right: 0;
  width: 4.5em;
  border-left: none;
  border-right: none;
  border-top: none;
  .arrow-L {
    left: 30%;
    bottom: -$arrowOff;
  }
}
.e-a-export-submit {
  top: $folder-header-loaded + (5.8*$line);
  height: (4.2 * $line);
  right: 0;
  width: 4.5em;
  border-bottom: none;
  border-right: none;
  border-left: none;
  .arrow-L {
    left: 30%;
    top: -$arrowOff;
  }
}
.e-a-export-component1 {
  height: (19.8 * $line) + ($block-padding * 2) + $folder-header-loaded;
  bottom: 0;
  right: 4.5em;
  width: 8em + ($column-side-padding * 2);
  border-bottom: none;
  border-left: none;
  .arrow-L {
    left: 30%;
    top: -$arrowOff;
  }
}
.e-a-export-reducer {
  height: (27.3 * $line) + $folder-header-loaded + $folder-top-bot-padding;
  bottom: 0;
  right: 0;
  width: 4.5em + $flowW;
  border-bottom: none;
  border-right: none;
  .arrow-R {
    left: 30%;
    top: -$arrowOff;
  }
}
.e-a-export-component2 {
  height: (26.2 * $line) + $folder-header-loaded + $folder-top-bot-padding;
  top: 0;
  right: 4.5em;
  width: 12.5em + ($column-side-padding * 2);
  border-left: none;
  border-top: none;
  .arrow-L {
    left: 30%;
    bottom: -$arrowOff;
  }
}
.arr-1 { border-color: rgb(250, 2, 2); }
.arr0 { border-color: rgba(223, 247, 8, 0.2); }
.arr1 { border-color: #000; }
.arr2 { border-color: #1b4750 }
.arr3 { border-color: #24626b }
.arr4 { border-color: #2a767e }
.arr5 { border-color: #329577 }
.arr6 { border-color: #349D8F }
.arr7 { border-color: #5BC8B8 }
.arr8 { border-color: #66CCC9 }
.arr9 { border-color: lighten(#66CCC9, 5%) }



.arrundefined {
  border-color: rgb(238, 255, 0);
}