$line: 15px;
$h3: 20px;
$group-margin: 15px;
$group-OH: $h3 + (2 * $group-margin);
$folder-top-bot-margin: 15px;
$folder-left-right-margin: 15px;
$folder-width: 500px;
$h1: 25px;

.index { height: $something };

$index-import-lines: $line * 3;
$index-import-ht: $react-index-import + $group-OH;
.indeximport          { height: $react-index-import-ht; };

$index-code-lines: $line * 7;
$index-code-ht: $react-index-import + $group-OH;
.indexCode         { height: $react-index-code-ht; };

.component1 { height: $something };

$component1-import-lines: $line * 7;
$component1-import-ht: $react-index-import + $group-OH;
.component1import          { height: $component1-import-lines };

$component1-line1-lines: $line * 1;
$component1-line1-ht: $react-index-import + $group-OH;
.component1line1           { height: $component1-line1-lines; }; 

$component1-constructor-lines: $line * 4;
$component1-constructor-ht: $react-index-import + $group-OH;
.component1constructor     { height: $component1-constructor-lines; };

$component1-methodGeneral-lines: $line * 3;
$component1-methodGeneral-ht: $react-index-import + $group-OH;
.component1methodGeneral   { height: $component1-methodGeneral-lines; };

$component1-methodCallback-lines: $line * 5;
$component1-methodCallback-ht: $react-index-import + $group-OH;
.component1methodCallback  { height: $component1-methodCallback-lines; }; 

$component1-methodSetState-lines: $line * 5;
$component1-methodSetState-ht: $react-index-import + $group-OH;
.component1methodSetState  { height: $component1-methodSetState-lines; };

$component1-methodDispatch-lines: $line * 2;
$component1-methodDispatch-ht: $react-index-import + $group-OH;
.component1methodDispatch  { height: $component1-methodDispatch-lines; };

$component1-return-lines: $line * 11;
$component1-return-ht: $react-index-import + $group-OH;
.component1return          { height: $component1-return-lines; };

$component1-mapState-lines: $line * 3;
$component1-mapState-ht: $react-index-import + $group-OH;
.component1mapState        { height: $component1-mapState-lines; };

$component1-connect-lines: $line * 1;
$component1-connect-ht: $react-index-import + $group-OH;
.component1connect         { height: $component1-mapState-lines; };

.component2 { height: $something };

$component2-import-lines: $line * 5;
$component2-import-ht: $react-index-import + $group-OH;
.component2import          { height: $component2-import-lines; };

$component2-line1-lines: $line * 1;
$component2-line1-ht: $react-index-import + $group-OH;
.component2line1           { height: $component2-line1-lines; }; 

$component2-return-lines: $line * 8;
$component2-return-ht: $react-index-import + $group-OH;
.component2return          { height: $component2-return-lines; };

$component2-connect-lines: $line * 3;
$component2-connect-ht: $react-index-import + $group-OH;
.component2connect         { height: $component2-connect-lines; };

.store { height: $something };

$store-import-lines: $line * 4;
$store-import-ht: $react-index-import + $group-OH;
.storeImport          { height: $store-import-lines; };

$store-code-lines: $line * 1;
$store-code-ht: $react-index-import + $group-OH;
.storeCode            { height: $store-code-lines; };

.reducer { height: $something };

$reducer-import-lines: $line * 2;
$reducer-import-ht: $react-index-import + $group-OH;
.reducerImport          { height: $reducer-import-lines; };

$reducer-initialState-lines: $line * 3;
$reducer-initialState-ht: $react-index-import + $group-OH;
.reducerInitialState          { height: $reducer-initialState-lines; };
      
$reducer-switch-lines: $line * 8;
$reducer-switch-ht: $react-index-import + $group-OH;
.reducerSwitch          { height: $reducer-switch-lines; };

$reducer-if-lines: $line * 8;
$reducer-if-ht: $react-index-import + $group-OH;
.reducerSingleIf          { height: $reducer-if-lines; };

$reducer-combine-lines: $line * 4;
$reducer-combine-ht: $react-index-import + $group-OH;
.reducerCombine          { height: $reducer-combine-lines; };

.actions { height: $something };

$actions-code-lines: $line * 5;
$actions-code-ht: $react-index-import + $group-OH;
.actionsCode          { height: $actions-code-lines; };

$actions-async-lines: $line * 6;
$actions-async-ht: $react-index-import + $group-OH;
.actionsAsync          { height: $actions-async-lines; };
